<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>订单</title>
    <link rel="stylesheet" href="css/layui.css">
    <link rel="stylesheet" href="css/metisMenu.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="width: 300px">打车软件客服监管及满意度评价分析平台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="" class="layui-nav-img" id="head">
                    <span th:text="${session.userId}" style="display: none;" id="content"></span>
                    <span th:text="${session.username}"></span>(<span th:text="${session.role}"></span>)
                </a>
            </li>
            <li class="layui-nav-item"><a th:href="@{/logout}">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a th:href="@{/driverIndex}"><i class="layui-icon">&#xe68e;</i>&nbsp;&nbsp;司机首页</a></li>
                <li class="layui-nav-item"><a th:href="@{'/receipt?userId='+${session.userId}}"><i class="fa fa-plus-square-o "></i>&nbsp;&nbsp;接单</a></li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon">&#xe63c;</i>&nbsp;&nbsp;订单</a>
                    <dl class="layui-nav-child">
                        <dd class="layui-this"><a th:href="@{'driveCompleteOrders?userId='+${session.userId}}"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;已完成订单</a></dd>
                        <dd><a th:href="@{'/driverReceivedOrders?userId='+${session.userId}}"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;已接订单</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a th:href="@{'/driveInfo?id='+${session.userId}}"><i class="layui-icon">&#xe716;</i>&nbsp;&nbsp;个人设置</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">已完成订单详情</div>
        <table id="demo" lay-filter="demo"></table>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>


<script src="layui.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    var arr=location.search.slice(1).split("=");
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });

    layui.use('table', function() {
        var table = layui.table;
        var $ = layui.jquery;

        //第一个实例
        table.render({
            elem: '#demo'
            , height: 500
            , width: 715
            , url: 'http://localhost:8091/orders/findOrdersByDriver/' + arr[1] //数据接口
            , limit: 10
            , limits: [10, 20, 50]
            , page: true //开启分页
            , cols: [
                [
                    {field: 'id', title: 'ID', width: 80, style:'height:80px', sort: true}
                    , {field: 'origin', title: '起点', width: 135}
                    , {field: 'destination', title: '终点', width: 135}
                    , {field: 'price', title: '价格', width: 80}
                    , {field: 'date', title: '日期', width: 177, sort: true}
                    , {field: 'customerId', title: '用户', width: 100}
                ]
            ]
        });
    });

    var cont=document.getElementById("content");
    axios.get('http://localhost:8091/findUserById', {
        params: {
            'id': cont.innerText
        }
    })
        .then(function (response) {
            console.log(response);
            var data = response.data;
            document.getElementById('head').src = data.path;
        })
        .catch(function (error) {

            console.log(error);
        });

</script>
</body>
</html>