<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- App favicon -->

    <!-- App css -->
    <link href="../css/main.css" rel="stylesheet" type="text/css"/>


</head>

<body>
<div id="bg">

    <div id="login_wrap">
        <div id="login"><!-- 登录注册切换动画 -->
            <div id="status" style="width: 100px; height: 40px;">
                <i>登录</i>
            </div>
            <span>
                    <form th:action="@{/login}" method="post">
                        <!--<span style="color: red" th:text="${session.msg}" th:if="${not #strings.isEmpty(${session.msg})}"></span>-->
                        <p class="form"><input type="text" id="user" placeholder="用户名" name="username"></p>
                        <p class="form"><input type="password" id="passwd" placeholder="密码" name="password"></p>
                        <input type="submit" value="登录" class="btn" style="margin-right: 20px;">
                        <!--<a th:href="@{/register}">-->
                            <input type="button" value="注册" class="btn" id="btn" onclick="toRegister()">
                        <!--</a>-->
                    </form>
                </span>
        </div>

        <div id="login_img"><!-- 图片绘制框 -->
            <span class="circle">
                    <span></span>
                    <span></span>
                </span>
            <span class="star">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            <span class="fly_star">
                    <span></span>
                    <span></span>
                </span>
            <p id="title">打车软件客服监管及满意度评价<br>分析平台</p>
        </div>
    </div>
</div>
</body>
<script>
    function toRegister() {
        window.location.href="http://localhost:8091/register";
    }
</script>

</html>